/* body{color:red;} */
/* /titulo del episodio */
.ep-title{
}

/* //Fechas del post */
.meta{
	display: none;
}

/* //contenido */
.entry-content{
	font-size:8pt;
	color: blue;
}

/* // Errores */
.error{
	color: red;
}

/* //Imagen - thumbnail */
img.thumbi{
	width: 20px;
}
img{
	width: 90px;
}

/* //tabla */
#queriedEpisodes{
	font-size: small;
	width: 900px;
}

/* //Controls in the downpart */
#controls{
}
