<div id="MYcontent">
    <div class="MYblog-index">
        {% for episode in episodeObjs %}
            <div class="MYarticle">
                <div class="MYheader">
                    <p class="MYentry-title">
                        {{ episode.title }}
                    </p>
                </div>
                <div class="MYentry-content">
                    <p>{{ episode.description }}</p>
                    <br>
                    
                    {% for video in episode.videos %}
                        <li>
                            <a href="{{ video }}" >
                            Ver Online 
                            {% if video["provider"] %}  
                                <span> 
                                en 
                                {{video["provider"] }} 
                                </span> 
                            {% endif %} 
                            </a>
                        </li>
                    {% endfor %}

                </div>
            </div>
        {% endfor %}
    </div>
    <span class="MYcb_message" class="MYcb_message" >All praise to Hipno Sapo</span>
</div>
